
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <input formControlName="fieldNombre" type="text" />  -- <br /> 
    <select formControlName="fieldNivelEducativo">  
    <option value="1"> Primario</option>
    <option value="2"> Secundario </option>
    <option value="3"> Terciario </option>
    <option value="4"> Universidad </option>
    </select>    
        -- <br />
    <input formControlName="fieldCalle" type="email" /> dassda -- <br />
    <input formControlName="fieldTelefono" type="text" />  -- <br />
    <input type="submit" value="sad" name="enviarForm" />
</form>
<input [formControl]="controll" type="text" />  
<code> <pre> {{ controll.value }} </pre></code>
